.topSearchDiv {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .singleSearchDiv {
        display: flex;
        align-items: center;
        margin-right: 20px;
        .singleLabelDiv {
            flex-shrink: 0;
            margin-right: 10px;
        }
        .singleInputDiv {
            width: 290px;
            height: 35px;
        }
        .pickSelectClass {
            width: 200px;
            height: 35px;
        }
    }
}
.tableBox {
    margin-top: 20px;
    background-color: white;
}
/deep/.limitModalClass {
    .editSearchDiv {
        padding: 0px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .singleEditSearchDiv {
            width: 100%;
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            margin-bottom: 20px;
            .singleEditLabelDiv {
                flex-shrink: 0;
                margin-right: 20px;
            }
        }
    }
}