#integral_statistic_container {
    // background-color: white;
    /deep/.allStatistic {
        .allStatisticTitle {
            font-size: 18px;
        }
        .searchLine {
            margin-top: 20px;
            display: flex;
            align-items: center;
            .searchTitle {
                font-size: 14px;
            }
            .pickTimeClass {
                margin-left: 10px;
            }
        }
        .statisticCardDiv {
            margin-top: 20px;
            display: flex;
            align-items: center;
            .singleStatisticCard {
                width: 350px;
                margin-left: 50px;
                // border: 1px solid rgba(0, 0, 0, 0.3);
                background-color: #FBFBFB;
                border-radius: 4px;
                padding: 20px;
                .cardTopClass {
                    display: flex;
                    align-items: center;
                    .cardTopTitle {
                        font-size: 14px;
                    }
                    .questionClass {
                        width: 20px;
                        height: 20px;
                        margin-left: 10px;
                    }
                }
                .cardNumberClass {
                    font-size: 20px;
                    font-weight: bolder;
                    margin-top: 12px;
                }
            }
            .singleStatisticCard:nth-child(1) {
                margin-left: 0px;
            }
        }
    }
    /deep/.integralStatistic {
        margin-top: 20px;
        .integralStatisticTitle {
            font-size: 18px;
        }
        .searchLine {
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;
            .singleSearch {
                display: flex;
                align-items: center;
                margin-left: 10px;
                .singleSearchTitle {
                    font-size: 14px;
                    flex-shrink: 0;
                }
                .selectPersonnelCom {
                    width: 200px;
                    margin-left: 8px;
                }
                .pickTimeClass {
                    width: 300px;
                    margin-left: 8px;
                }
                .pickSelectClass {
                    width: 300px;
                    margin-left: 8px;
                    height: 36px;
                }
                .goodsContentDiv {
                    width: 200px;
                    margin-left: 8px;
                    background-color: white;
                    // min-width: 120px;
                    // max-width: 180px;
                    border: 1px solid #dddddd;
                    border-radius: 4px;
                    .noGoodsDiv {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 36px;
                        font-size: 12px;
                    }
                    .tagDiv {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 6px 4px;
                        height: 36px;
                        .singleTagDiv {
                            display: flex;
                            align-items: center;
                            margin-left: 4px;
                            padding: 2px 4px;
                            border: 1px dashed #4e4e4e;
                            border-radius: 4px;
                            font-size: 14px;
                            .delete {
                                font-size: 16px;
                                transform: rotate(45deg);
                                margin-left: 2px;
                                cursor: pointer;
                            }
                        }
                        .singleTagDiv:nth-child(1) {
                            margin-left: 0px;
                        }
                        .clearTagDiv {  
                            font-size: 16px;
                            visibility: hidden;
                        }
                    }
                    &:hover {
                        .tagDiv {
                            .clearTagDiv {
                                visibility: visible;
                                cursor: pointer;
                            }
                        }
                    }
                }
                // .noGoodsClass {
                //     display: flex;
                //     align-items: center;
                //     padding: 0px 4px;
                //     height: 38px;
                //     width: 300px;
                //     margin-left: 8px;
                //     background-color: white;
                //     border: 1px solid rgba(0, 0, 0, 0.3);
                // }
            }
        }
        .searchButtonLine {
            display: flex;
            justify-content: flex-end;
            margin-top: 10px;
        }
        .tableBox {
            margin-top: 20px;
            background-color: white;
        }
    }
}